@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

/* @font-face {
  font-family: "Galano Grotesque";
  src:
    local("Galano Grotesque SemiBold"),
    url(./fonts/galano-grotesque-alt/GalanoGrotesqueSemiBold.otf)
      format("opentype");
}

@font-face {
  font-family: "Galano Grotesque Regular";
  src:
    local("Galano Grotesque Regular"),
    url(./fonts/galano-grotesque-alt/GalanoGrotesqueMedium.otf)
      format("opentype");
} */

* {
  font-family: "Lexend Deca" !important;
  font-weight: 300;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  font-weight: 400;
  transition: all 0.3s;
}

.hoverLink {
  color: white;
}

body {
  background-color: #202124 !important;
  color: white;
}

.section-box {
  width: 100%;
  position: relative;
  background-color: #202124;
}

.pop-up-form {
  /* width: 19.3125rem; */
  width: 23rem;
  margin: 15px auto 0px auto;
}

@media only screen and (max-width: 430px) {
  .pop-up-form {
    /* width: 19.3125rem; */
    width: initial;
    padding-inline: 15px;
  }
}

.pop-up-form.hidden {
  display: none;
}

.pop-up-form.visible {
  display: block;
}

.pop-blue-ball-container {
  position: relative;
}

.pop-blue-ball {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 16px;
  position: relative;
}

.expand-arrow-container {
  position: absolute;
  right: 6px;
  top: 13px;
  z-index: 50;
}

.expand-arrow {
  width: 13px;
  height: 13px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hrHeader {
  filter: brightness(0.37);
}

.content-container {
  position: relative;
}

.content-header {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
  align-items: center;
}

.video-wrapper {
  background-color: #454648;
  position: absolute;
  top: -18px;
  left: -29px;
  clip-path: circle(22% at 50% 47%);
}

.intro-text {
  display: block;
  margin-left: 45px;
  z-index: 30;
}

.intro-text-content {
  color: #7d7d7d;
  font-size: 12px;
}

.image-wrapper {
  margin-top: 20px;
  margin-right: 2px;
}

.image-n01 {
  width: 43.27px;
  height: 11px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.form-container {
  bottom: 15px;
  left: 50%;
  transform: translateX(-53%);
  position: fixed;
  width: calc(100vw - 120px);
  z-index: 50;
  min-width: 300px;
  max-width: 400px;
}

.text-area-chat::-webkit-scrollbar {
  width: 12px;
}

button.hidden {
  display: none;
}

.css-1yali2d {
  margin-top: 0 !important;
}

.chat-scroll-bar {
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.chat-scroll-bar::-webkit-scrollbar {
  width: 12px;
}

.message {
  width: 75%;
  min-height: 37px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 0 8px;
  margin-bottom: 17px;
}

.user-message {
  background-color: #d9d9d9;
  margin-right: auto;
  font-weight: normal;
}

.bot-message {
  background-color: #d9d9d9;
  flex-direction: column;
  margin-left: auto;
}

.message-text {
  font-size: 0.875rem;
  /* font-family: "Lexend Deca", serif; */
}

.mic-button {
  position: absolute;
  right: -1rem;
  top: 0.5rem;
  cursor: pointer;

  background-color: transparent;
  border: 0;
}

.css-x5wr1s {
  width: 95% !important;
  margin-bottom: 0 !important;
}

.mic-icon:hover {
  opacity: 0.8;
}

input:disabled,
button:disabled {
  background-color: gray;
  cursor: not-allowed;
  transform: none;
}

button:disabled:hover{
  transform: none;
}

button:hover {
  filter: brightness(1.2);
  transform: scale(103%);
}

/* Container centralizado */
.loading-container {
  text-align: center;
  margin-top: 2rem;
}

.animation-sphere-show-header {
  transform: scale(0);
  width: "50px";
  animation: sphereShow 1s forwards;
  animation-delay: 0.5s;
}

@keyframes sphereShow {
  0% {
    width: "0px";
    transform: scale(0);
  }
  100% {
    width: "50px";
    transform: scale(1);
  }
}

.animation-sphere {
  animation: sphereMove 1s forwards; /* Função ease-in-out para suavizar o movimento */
}

@keyframes sphereMove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0);
    display: none;
  }
}
