@font-face {
  font-family: "Galano Grotesque";
  src:
  local("Galano Grotesque SemiBold"),
  url(./fonts/galano-grotesque-alt/GalanoGrotesqueSemiBold.otf) format("opentype");
}

@font-face {
  font-family: "Galano Grotesque Regular";
  src: 
    local("Galano Grotesque Regular"),
    url(./fonts/galano-grotesque-alt/GalanoGrotesqueMedium.otf) format("opentype");
}

body {
  background-color: #202124 !important;
  color: white;
}

.section-box {
  width: 100%;
  position: relative;
  background-color: #202124;
}

.fixed-bottom-right {
  position: fixed;
  bottom: -20px;
  right: -70px;
  background-color: #202124;
}

.video-style {
  width: 18rem;
  object-fit: cover;
  mix-blend-mode: screen;
  filter: brightness(0.75) contrast(1.3);
}

.video-style.hidden {
  display: none;
}

.video-style.visible {
  display: flex;
}

.transition-all {
  transition: all 0.3s ease;
}

.pop-up-form {
  /* width: 19.3125rem; */
  width: 23rem;
  margin: 15px auto 0px auto;
}

@media only screen and (max-width: 430px) {
  .pop-up-form {
    /* width: 19.3125rem; */
    width: initial;
    padding-inline: 25px;
  }
}

.pop-up-form.hidden {
  display: none;
}

.pop-up-form.visible {
  display: block;
}

.pop-blue-ball-container {
  position: relative;
}

.pop-blue-ball {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 16px;
  position: relative;
}

.expand-form {
  height: calc(100vh - 55px);
}

.close-expand-form {
  height: 160px;
}

.expand-arrow-container {
  position: absolute;
  right: 6px;
  top: 13px;
  z-index: 50;
}

.expand-arrow {
  width: 13px;
  height: 13px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.content-container {
  position: relative;
}

.content-header {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
  align-items: center;
}

.hoverLink:hover {
  text-decoration: underline;
}

.video-wrapper {
  background-color: #454648;
  position: absolute;
  top: -18px;
  left: -29px;
  clip-path: circle(22% at 50% 47%);
}

.pulse-blue-ball {
  animation: pulse 1.5s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.video-blue-ball {
  width: 179px;
  height: 119px;
  mix-blend-mode: screen;
  filter: saturate(120%) brightness(0.85) contrast(150%);
  border: 0;
  transition: all 0.3s ease;
}

.intro-text {
  display: block;
  margin-left: 45px;
  z-index: 30;
}

.intro-text-content {
  color: #7d7d7d;
  font-size: 12px;
  font-family: "Galano Grotesque";
  font-weight: 900;
}

.image-wrapper {
  margin-top: 20px;
  margin-right: 2px;
}

.image-n01 {
  width: 43.27px;
  height: 11px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.expand-form-header {
  justify-content: flex-end;
}

.form-container {
  bottom: 15px;
  left: 50%;
  transform: translateX(-53%);
  position: fixed;
  width: calc(100vw - 120px);
  z-index: 50;
  min-width: 300px;
  max-width: 400px;
}

.text-area {
  background-color: #d9d9d9;
  border-radius: 1.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;

  resize: none;
  width: 90%;
  height: 75px;
  font-size: 0.75rem;
  outline: 0;
  font-family: "Galano Grotesque Regular";
}

.text-area-chat::-webkit-scrollbar {
  width: 12px;
}

button.hidden {
  display: none;
}

.css-1yali2d {
  margin-top: 0 !important;
}

.chat-scroll-bar {
  height: calc(100vh - 170px);
  overflow-y: scroll;
}

.chat-scroll-bar::-webkit-scrollbar {
  width: 12px;
}

.chat-container {
  margin-top: 30px;
  opacity: 0;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 264px);
}

.opacityMessage {
  flex-direction: column;

  animation: opacityDiv 2s forwards;
}

@keyframes opacityDiv {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.chat-container.hidden {
  display: none;
}

.message {
  width: 75%;
  min-height: 37px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 0 8px;
  margin-bottom: 17px;
}

.message-dot {
  width: 75%;
  min-height: 37px;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 0 8px;
}

.user-message {
  background-color: #d9d9d9;
  margin-right: auto;
  font-weight: normal;
}

.bot-message {
  background-color: #d9d9d9;
  flex-direction: column;
  margin-left: auto;
}

.message-text {
  font-size: 0.875rem;
  font-family: "serif", sans-serif;
}

.mic-button {
  position: absolute;
  right: -1rem;
  top: 0.5rem;
  cursor: pointer;

  background-color: transparent;
  border: 0;
}

.css-x5wr1s {
  width: 95% !important;
  margin-bottom: 0 !important;
}

.mic-icon:hover {
  opacity: 0.8;
}

.loading {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}

.dot {
  display: inline-block;
  animation: bounce 1.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
